:root {
    --dark-blue-1: #011C27; /* header */
    --dark-blue-2: #002F45; /* clients */
    --dark-blue-3: #002636; /* prompt */
    --teal: #1EB7BE;
    --gray: #8B8B8B;
    --light-gray: #F8F8F8;
}
body {
    margin: 0;
}
.header {
    background-image: url("../images/header-bg.png");
    background-size: auto auto;
    background-position: 19% center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
.header__row {
    display: flex;
}
.header__row--top {
    padding: 71px 29px 0 29px;
}
.header__row--bottom {
    padding: 0 29px;
    align-items: center;
    flex-grow: 1;
}
.header__burger-button {
    margin-left: auto;
}
.header__title {
    font-size: 58px;
}
.header__subtitle {
    font-size: 17px;
}
.header__play-button-wrapper {
    display: none;
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.header__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    padding: 0;
    background: none;
    height: 56px;
}
.header__play-button-image {
    transform: rotateZ(90deg);
}
.burger-button {
    background: none;
    border: none;
    height: 100%;
    padding: 0 10px;
}
.burger-button__line {
    border: 1px solid white;
    width: 25px;
}
.burger-button__line--top {
    margin-bottom: 5px;
}
.about {
    padding: 100px 0;
    margin-top: -112px;
    background: -moz-linear-gradient(top,  rgba(1,28,39,0) 0%, rgba(1,28,39,1) 10%, rgba(1,28,39,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(1,28,39,0) 0%,rgba(1,28,39,1) 10%,rgba(1,28,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(1,28,39,0) 0%,rgba(1,28,39,1) 10%,rgba(1,28,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00011c27', endColorstr='#011c27',GradientType=0 );

}
.about__row {
    color: white;
    padding: 0 29px 0 0;
    font-size: 30px;
}
@media (min-width: 576px) {
    .header {
        background-position: center center;
    }
    .header__row--top {
        padding: 77px 200px 0 108px;
    }
    .header__row--bottom {
        padding: 0 200px 0 108px;
    }
    .header__title {
        font-size: 150px;
    }
    .header__subtitle {
        font-size: 20px;
    }
    .header__play-button-wrapper {
        display: block;
    }
    .about {
        padding: 350px 0 500px 0;
        margin-top: -100px;
    }
    .about__row {
        padding: 0 200px 0 108px;
        font-size: 70px;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    
}